.intro {
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--gray), transparent);
  margin: auto;
  width: 60%;
  max-width: 700px;
  text-align: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding-top: 100px;
}

.intro h1 {
  margin-inline: 30px;
}

.intro .text {
  text-align: left;
  padding-inline: 70px;
  color: var(--gray-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choose_planet {
  margin-inline: 40px;
  margin-block: 40px;
  text-align: center;
}

.planet {
  position: relative;
  height: 100%;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.planet .circle {
  position: relative;
  height: 90%;
  aspect-ratio: 1;
  box-sizing: border-box;
  background-color: var(--default1);
  border-radius: 1000px;
  overflow: hidden;
  transform: rotate(-20deg);
}

.planet::before {
  content: "";
  position: absolute;
  height: 110%;
  aspect-ratio: 1;
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--default1);
  opacity: 0.2;
  z-index: -1;
  transition: 0.4s;
}

.planet::after {
  content: "";
  position: absolute;
  height: 130%;
  aspect-ratio: 1;
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--default1);
  opacity: 0.4;
  z-index: -1;
  transition: 0.5s;
}

.planet .circle .color_blocks {
  position: absolute;
  top: 0;
  right: -20%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.planet .circle .color_blocks .block {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: var(--default2);
  border-radius: 500px;
}

.planet .circle .color_blocks .block::after {
  position: absolute;
  background-color: inherit;
  content: "";
  height: 100%;
  width: 100%;
  left: 10%;
  bottom: -100%;
  border-radius: 500px;
  z-index: 4;
}

.planet .circle .color_blocks .deep {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.planet .circle .color_blocks .deep .mini_circle {
  height: 100%;
  width: 50px;
  background-color: var(--default1);
  border-radius: 500px;
}

.planet .circle .color_blocks .block:nth-child(1) {
  width: 100%;
}

.planet .circle .color_blocks .block:nth-child(2) {
  width: 90%;
}

.planet .circle .color_blocks .block:nth-child(3) {
  width: 110%;
}

.planet .circle .color_blocks .block:nth-child(4) {
  width: 85%;
}

.planet .circle .color_blocks .block:nth-child(5) {
  width: 90%;
}

.planet .circle .color_blocks .deep:nth-child(2) .mini_circle {
  width: 35%;
}

.planet .circle .color_blocks .deep:nth-child(4) .mini_circle {
  width: 45%;
}

.planet .circle .color_blocks .deep:nth-child(6) .mini_circle {
  width: 47%;
}

.planet .circle .color_blocks .deep:nth-child(8) .mini_circle {
  width: 50%;
}

.card {
  position: relative;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--gray-light);
}

.card:hover .planet {
  scale: 1.05;
}

.card:hover .planet::before {
  height: 180%;
}

.card:hover .planet::after {
  height: 300%;
}

.card .content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 20px;
  padding-right: 30px;
}

.planets {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.menu {
  width: 100%;
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form {
  display: flex;
  gap: 10px;
}
.form .input {
  border-bottom: 1px solid var(--gray-light);
}

.button {
  padding: 5px 8px;
  border: 1px solid var(--accent);
  text-align: center;
  width: fit-content;
  color: var(--gray-light);
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover {
  color: white;
}

@media (min-width: 1200px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .intro {
    width: 70%;
  }

}

@media (max-width: 768px) {
  .card {
    height: 120px;
  }

  .planets {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .intro {
    width: 80%;
  }
  .menu {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .intro {
    width: 90%;
  }
}