<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
    <title>Планеты</title>
</head>
<body>
   <main>
      <div class="intro">
        <h1>Астрономия для Астрологов</h1>
        <div class="text">
          <p>Интересуетесь астрономией и астрологией? Наше приложение предоставляет увлекательную информацию о различных планетах в Солнечной системе и их влиянии на зодиакальные знаки.</p>
          <p>У нас есть подробная информация о разных планетах, их характеристиках, истории открытий и важных фактах. От Меркурия, самой близкой к Солнцу планеты, до далекого Нептуна, вы узнаете много интересного.</p>
          <p>Узнайте, как движение планет влияет на характеристики зодиакальных знаков. Мы расскажем вам о том, как планеты могут влиять на ваш характер, судьбу и даже на вашу личную астрологическую карту.</p>
        </div>
      </div>
      <h2 class="choose_planet" id="choose_planet">Выберите <span class="colored">планету</span> ниже, чтобы узнать больше о ней:</h2>
      <div class="menu">
        <a href="/#choose_planet" class="button">Все планеты</a>
        <a href="/show-planets#choose_planet" class="button">Планеты нашей солнечной системы</a>
         <form action="/search" method="GET" class="form">
          <input type="text" id="searchQuery" name="q" class="input" required placeholder="Введите название">
          <button type="submit" class="button">Искать</button>
        </form>
      </div>
      <div class="planets" id="planets">
        {{range .planets}}
          <a class="card" href="{{.Href}}">
            <div class="planet">
            <div class="circle" style="background-color: {{.Color1}}">
              <div class="color_blocks">
                <div class="block" style="background-color: {{.Color2}}"></div>
                <div class="deep">
                  <div class='mini_circle' style="background-color: {{.Color1}}"></div>
                </div>
                <div class="block" style="background-color: {{.Color2}}"></div>
                <div class="deep">
                  <div class='mini_circle' style="background-color: {{.Color1}}"></div>
                </div>
                <div class="block" style="background-color: {{.Color2}}"></div>
                <div class="deep">
                  <div class='mini_circle' style="background-color: {{.Color1}}"></div>
                </div>
                <div class="block" style="background-color: {{.Color2}}"></div>
                <div class="deep">
                  <div class='mini_circle' style="background-color: {{.Color1}}"></div>
                </div>
                <div class="block" style="background-color: {{.Color2}}"></div>
              </div>
            </div>
          </div>
            <div class="content">
              <h3>{{.Name}}</h3>
            </div>
          </a>
        {{end}}
        
      </div>
    </main>
</body>
</html>
